.phoneHeader {
  height: 36px;
  border-bottom: 1px solid #C9CFE3;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 12px
}
